@charset "UTF-8";

<style>
        body{
             background-color: rgb(22, 22, 22);  font-family: Arial, Helvetica, sans-serif; font-size: 20px;
        }

        h1{
                color: darkcyan; background-color: rgb(4, 221, 69);
        }
        h2{
                color: rgb(214, 58, 123);
        }
        p{
                text-align: justify;
        }
    </style>